<div class="row">
    <div class="col-md-12">
        <h1>New Submission</h1>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Your Name</label>
                <div class="col-sm-4">
                  {{input value=candidateName placeholder="Name" class="form-control"}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Your Email</label>
                <div class="col-sm-4">
                  {{input value=candidateEmail placeholder="Email Address" class="form-control"}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Level You're Applying For</label>
                <div class="col-sm-4">
                  {{view Ember.Select viewName="select"
                  contentBinding="levels"
                  optionLabelPath="content.text"
                  optionValuePath="content.id"
                  prompt="Select level of application:"
                  selectionBinding="selectedLevel"
                  class="form-control"}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Language of Submission</label>
                <div class="col-sm-4">
                  {{view Ember.Select viewName="select"
                  id="language-select"
                  contentBinding="languages"
                  optionLabelPath="content.name"
                  optionValuePath="content.id"
                  prompt="Select the language your submission uses:"
                  selectionBinding="selectedLanguage"
                  class="form-control"}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Notes</label>
                <div class="col-sm-6">
                    <p>Use this space for any general comments related to your submission that aren't already included in the README.</p>
                  {{textarea value=extsubmission.emailText rows="6" placeholder="Email text or instructions" id="email-text" class="form-control"}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Code Submission Archive</label>
                <div class="col-sm-6">
                    <p>Select the zipfile you are submitting.</p>
                  {{view 'file-upload' name="zipfile" file=extsubmission.zipfile id="zipfile" fileName=extsubmission.fileName class="form-control"}}
                </div>
            </div>
        </form>

        <hr/>

        <button type="button" class="btn btn-success pull-right" {{bind-attr disabled=isFormIncomplete}} {{action submit}}>Create New Codetest</button>
    </div>
</div>
