<div class="row">

  <div class="col-md-12">
    <p class="instructions-link text-right">Click <a href="http://www.cyrusinnovation.com/code-test/">here</a> to view submission instructions.</p>
    <h1>New Submission</h1>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{submitter}} Name</label>
        <div class="col-sm-4">
          {{input value=extsubmission.candidateName placeholder="Full Name" class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{submitter}} Email</label>
        <div class="col-sm-4">
          {{input value=extsubmission.candidateEmail placeholder="Email Address" class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{submitter}} Level</label>
        <div class="col-sm-4">
          {{view Ember.Select viewName="select"
          contentBinding="levels"
          optionLabelPath="content.text"
          optionValuePath="content.id"
          prompt=levelPrompt
          selectionBinding="extsubmission.level"
          class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{languageLabel}}</label>
        <div class="col-sm-4">
          {{view Ember.Select viewName="select"
          id="language-select"
          contentBinding="languages"
          optionLabelPath="content.name"
          optionValuePath="content.id"
          prompt=languagePrompt
          selectionBinding="extsubmission.language"
          class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{sourceLabel}}</label>
        <div class="col-sm-4">
          {{view 'select'
          content=sources
          selectionBinding="extsubmission.source"
          prompt="Select a source"
          class='form-control'}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">GitHub Profile URL</label>

        <div class="col-sm-4">
          {{input value=extsubmission.github placeholder="URL" class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{notesLabel}}</label>
        <div class="col-sm-6">
          {{textarea value=extsubmission.emailText rows="6" placeholder=notesPlaceholder id="email-text" class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{zipfileLabel}}</label>
        <div class="col-sm-6">
          {{#if isExternal}}
          {{else}}
            <p>Select the zipfile provided by the candidate.</p>
          {{/if}}
          {{view 'file-upload' name="zipfile" file=extsubmission.zipfile id="zipfile" fileName=extsubmission.zipfileName class="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{resumefileLabel}}</label>
        <div class="col-sm-6">
          {{#if isExternal}}
          {{else}}
            <p>Select the resume provided by the candidate.</p>
          {{/if}}
          {{view 'file-upload' name="resumefile"  id="resumefile" fileName=extsubmission.resumefileName file=extsubmission.resumefile class="form-control"}}
        </div>
      </div>
    </form>

    <hr/>

    <button type="button" class="btn btn-success pull-right" {{bind-attr disabled=isFormIncomplete}} {{action submit}}>Create New Codetest</button>
  </div>
</div>
