<form class="form-horizontal form-horizontal-narrow" role="form">
    <fieldset>
        <legend>Submission</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">Language</label>

            <div class="col-sm-2">
              {{view Ember.Select viewName="select"
              content=languages
              optionLabelPath="content.name"
              optionValuePath="content.id"
              prompt="Select a language:"
              selection=selectedLanguage
              disabled="disabled"
              class="form-control col-sm-2 language"}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Level</label>

            <div class="col-sm-2">
              {{view Ember.Select viewName="select"
              content=levels
              optionLabelPath="content.text"
              optionValuePath="content.id"
              prompt="Select a level:"
              selection=selectedLevel
              disabled="disabled"
              class="form-control level"}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">File</label>

            <div class="col-sm-2">
                <a class="btn btn-success zipfile" {{bind-attr href=submission.zipfile}}><i class="fa fa-download"></i>&nbsp;Download</a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email Text</label>

            <div class="col-sm-2">
                <p class="form-control-static">{{submission.emailText}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Source of Referral</label>

            <div class="col-sm-10">
              {{#if submission.source}}
                  <p class="form-control-static">{{submission.source}}</p>
              {{else}}
                  <p class="form-control-static">N/A (source was not provided)</p>
              {{/if}}
            </div>
        </div>

    </fieldset>
</form>

<br/>

<form role="form">
    <fieldset>
        <legend>Assessment</legend>

        <div class="form-group">

            <p>Please provide your feedback about the submission below in the form of a pros and cons list. Keep
                comments specific and constructive, remembering that this feedback will be organized and summarized by
                our recruiting team and shared with the candidate.</p>

            <span class="markdown-info"><a href="https://help.github.com/articles/github-flavored-markdown"><img
                    src="/assets/images/32x20.png" width="24px"/> Markdown Syntax</a></span>

            <div class="tab-content">
                <div class="tab-pane active" id="write">
                    <label>Pros</label>
                  {{textarea value=pros rows="6" class="form-control pros"}}

                    <label>Cons</label>
                  {{textarea value=cons rows="6" class="form-control cons"}}

                    <label>Notes</label>
                  {{textarea value=notes rows="6" class="form-control notes"}}
                </div>
                <br/>

                <label>Live Markdown Preview</label>
            </div>

            <div class="tab-content">
                <div class="markdown-pane" id="write">
                    <div>Pros:</div>
                  {{render-marked pros}}
                    <div>Cons:</div>
                  {{render-marked cons}}
                    <div>Notes:</div>
                  {{render-marked notes}}
                </div>
            </div>

            <hr/>
        </div>

        <div class="form-group">
            <label>Recommendation</label>

            <p>Considering your comments above, make a recommendation on whether or not you think the candidate should
                advance to the next step of the interview process.</p>
          {{view Ember.Select viewName="select"
          content=scoreOptions
          optionLabelPath="content.text"
          optionValuePath="content.score"
          prompt="Select a recommendation:"
          value=score
          class="form-control score"}}
        </div>

      {{#if showExemplaryOption}}
          <div class="checkbox">
              <label>
                {{input type="checkbox" checked=exemplary}} Furthermore, I think this submission is exemplary for this
                  language and candidate level.
              </label>
          </div>
      {{/if}}
        <div class="row">
            <div class="col-md-2 col-md-offset-9">
              {{view 'saving-indicator'}}
            </div>
            <div class="col-md-1">
                <button class="btn btn-success create" {{bind-attr disabled=isFormIncomplete}} {{action saveAssessment}}>
                    Save
                </button>
            </div>
        </div>
    </fieldset>
</form>
